.modal-dialog {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 100vh; /* Altura completa de la ventana */
}

.modal-content {
    margin: auto; /* Asegura que el contenido esté centrado */
}