.sidebar {
    width: 15vw;
    border-right: 1px solid #ccc;
    height: 100vh;padding: 1rem 0 0 0;
}

.nav{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.linknav {
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none !important;
    color: #010101;
    font-size: 1.1rem;
}

.containerLinkNav {
    width: 100% !important;
    padding: 1rem;
    text-align: center;
}

.activeLink{ 
    background-color: var(--color-primary);
    border-radius: 50px;
    color: #fff !important;
}